.additional-nav {
  @include list-unstyled;
}

.additional-nav__item {
  margin-bottom: 9px;
}

.additional-nav__link {
  font-weight: 500;
  color: $basic-black;

  &:hover {
    color: $basic-blue;
  }

  &:active {
    opacity: 0.6;
  }
}
