.currency-converter__title {
  margin-bottom: 49px;
}

.currency-converter__form {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 85px 120px;

  &--load::before {
    content: "";

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;

    background-color: rgba($basic-light-blue, 0.3);
    background-image: url("../../img/spinner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
  }
}

.currency-converter__fieldset {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 390px 120px;
  grid-column-gap: 15px;
  align-items: end;

  border: none;
}

.currency-converter__icon {
  position: absolute;
  top: 62px;
  left: 50%;

  margin-left: -23px;
}

.currency-converter__wrapper {
  text-align: right;
}

.currency-converter__button {
  min-width: 382px;
}
